h1 {
  /* background-color: black;
  color: white; */
  text-transform: uppercase;

  padding: 1rem;
}
p {
  padding: 1rem;
}
.motivation-img {
  width: 100%;
  border: 5px solid white;
}
.poster {
  font-family: "Libre Baskerville", serif;
  margin-top: 3rem;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  /* background-color: black;
  color: white; */
}
* {
  margin: 0;
  background-color: black;
  color: white;
}
